.spacer {
  flex: 1 1 auto;
}
.margin-btn {
  margin: 0px 0px 0px 10px;
}
.logo-small {
  display: none;
}
@media (max-width: 600px) {
  span {
    font-size: 20px;
  }
  .logo {
    display: none;
  }
  .logo-small {
    display: block;
  }
  .mat-toolbar {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  button {
    width: 18px;
    height: 18px !important;
    font-size: 10px;
  }
  .spacer {
    flex: unset !important;
  }
}
