<mat-toolbar color="primary" class="aligner">
  <img src="./assets/logo.jfif" routerLink="./users" alt="" width="80px" height="40px" style="cursor: pointer">
  <span class="spacer"></span>
  <div class="d-flex">
    <button mat-raised-button color="accent" routerLink="./users">Home</button>
    <button mat-raised-button color="accent" class="margin-btn" routerLink="./login" *ngIf="!logStatement">Log in</button>
    <button mat-raised-button color="accent" class="margin-btn" routerLink="./login" *ngIf="logStatement" (click)="clearStorage()">Log out</button>
  </div>
</mat-toolbar>
